@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Lato:400,700&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Didact Gothic', 'Arial', sans-serif;
    color: #333333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.main-container {
    height: 100%;
    overflow: hidden;
}
div.background {
    width: 100%;
    height: 100%;
    background: url("img/autumn.jpg") center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column ;
            flex-direction: column ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* Video in default display none */
video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/* Header */
div.header {
    width: 500px;
    max-width: 85vw;
}
header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2vh;
    border: none;
    outline: none;
    font-family: 'Lato', 'Didact Gothic', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center; 
    -webkit-animation: fadeIn; 
            animation: fadeIn;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      scale:0;
      transform: translateY(256px);
    }
    100% {
      opacity: 1;
      scale: 1;
      transform: translateY(0px);
    }
}
.search-box {
    width: 500px;
    max-width: 85vw;
    height: auto;
    margin-top: 2vh;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    animation: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
input#search-city {
    text-align: center;
}
/* Current weather panel / slider */
div.main-panel {
    width: 500px;
    max-width: 85vw;
    max-height: 85vh;
    margin-top: 2vh;
    background-color: rgba(250, 250, 250, 0.4);
    color: #333333;
    border: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    overflow: hidden;
    animation: fadeIn;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
div.slider-container {
    margin: 0;
    position: relative;
    max-width: 100%;
    width: 100%;    
    min-height: 25em;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-basis: row wrap;
    align-items: center;
    overflow: hidden;
}
input#id1, input#id2, input#id3 {
    display: none;
}
div.slide_img{
    position: absolute;
    width: 500px;
    max-width: 85vw;
    height: 100%;
    z-index: -1;
}
div.slide_img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}
label.previous, label.next {
    width: 2.75em;
    height: 100%;
    position: absolute;
    top: 0;   
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    cursor: pointer;
}
label.previous {
    left: 0;
}
label.next {
    right: 0;
}
label.previous:hover , label.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
div.cityWeather {
    position: relative;
    top: -100%;
    height: 100%;
    width: 100%;
    max-height: 100%;
}
/* Current weather - data & icons formatting */
div.main-panel, div.main-panel > *,
div.slider-container, div.slider-container > *,
div.slide_img, div.slide_img > *,
div.cityWeather, div.cityWeather > *,
div.icon-and-temperature, div.icon-and-temperature > *,
div.details, div.details > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
h1 {
    font-family: 'Lato', 'Didact Gothic', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 0.02em;
    word-break: break-word;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #333333;
}
div.icon-and-temperature {
    padding: 0 0.5em;
}
img#city1-weather-icon, img#city2-weather-icon, img#city3-weather-icon {
    width: 3.6em;
    height: 3.6em;
}
h2 {
    font-size: 3.6em;
    font-family: 'Lato', 'Didact Gothic', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
}
div.details > * {
    font-family: 'Lato', 'Didact Gothic', 'Arial', sans-serif;
    font-size: 1.2em;
}   
div.details:last-child {
    padding-bottom: 4em;
}
p {
    margin-bottom: 0;
    line-height: 110%;
}
/* Current weather - navigation */
div.nav {
    width: 100%;
    height: 0.8em;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
label.dots {
    display: inline-block;
    position: relative;
    left: calc(50% - 16px);
    width: 1rem;
    height: 1rem;
    margin: 0 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}
label.dots:hover {
    background-color: #f4a71d;
    cursor: pointer;
}
#id1:checked ~ #one,
#id2:checked ~ #two,
#id3:checked ~ #three {
    z-index: 9;
}
#id1:checked ~ .nav #dot1,
#id2:checked ~ .nav #dot2,
#id3:checked ~ .nav #dot3 {
    background-color: #f4a71d;
}
/* Media */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    html {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 832px) {
    html {font-size: 0.8rem;
    }
}
@media only screen and (max-width: 768px) {
    html {font-size: 0.7rem;
    }
}
@media only screen and (max-width: 703px) {
    html {font-size: 0.6rem;
    }
}
@media only screen and (max-width: 411px) {
    html {font-size: 0.5rem;
    }
}
@media only screen and (max-width: 320px) {
    html {font-size: 0.4rem;
    }
}